*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
}
header{
    border-bottom: 1px solid rgba(198, 165, 165, 0.557);
    padding-top: 15px;
    padding-bottom: 15px;

}
a{
    text-decoration: none;
    font-weight:bold;
    color:#8400b8;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    gap: 10px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
header nav ul a:hover{
    color: #ad39db;
    text-decoration: underline;
}
img{
    width: 100%;
}
span{
    color: #ad39db;
    font-weight: bolder;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 768px) {
    header nav ul{
        display: none;
    }
}

